#div-modal{
    display: flex;
    background-color: aquamarine;
    margin-top: 20px;
    width: 300px;
    height: 180px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.divVisivel{
    visibility: visible;
}
.divEscondida{
    visibility: hidden;
}